{% extends 'base.html' %} 
{% block page_title %}Password reset complete{% endblock %} 
{% block page_heading %}Password reset complete{% endblock %} 
{% block content_site %}



<div class='container'>
    <div class='row'>
        <div class='password_reset_form'>
           <h4>Your password has been set. You may go ahead and log in now.</h4>
           <a href="{% url 'login' %}" class='center mb-2' type="submit" id='login-btn' name='login' > LOG IN HERE!</a><br>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}