<header>
    <nav class="navbar fixed-top py-4">
        <div  class="nav-wrapper">
            <div class='brand-logo'>
               <img  src='/static/img/vegan_dot_logo.jpg'><a href="{% url 'home_main' %}"></img><a/>
            </div>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="side-nav" id="mobile-demo">
                {% if user.is_authenticated %}
                <li class="nav-item">
                     <a class="nav-link-hamburger" href="{% url 'user_profile' %}"> {{user}}</a>
                 </li>
                 <li class="nav-item">
                    <a href="{% url 'view_cart' %}" class="nav-link-hamburger">
                        Cart
                        {% if product_count > 0 %}
                        {{ product_count }}
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item-hamburger">
                    <a class="nav-link-hamburger" href="{% url 'home_main' %}">Home</a>
                </li>
                <li class="nav-item-hamburger">
                    <a class="nav-link-hamburger" href="{% url 'starters' %}">Starters</a>
                </li>
                <li class="nav-item-hamburger">
                    <a class="nav-link-hamburger" href="{% url 'main_courses' %}">Main courses</a>
                </li>
                <li class="nav-item-hamburger">
                    <a class="nav-link-hamburger" href="{% url 'desers' %}">Desers</a>
                </li>
                <li class="nav-item-hamburger">
                    <a class="nav-link-hamburger" href="{% url 'smoothies' %}">Smoothies</a>
                </li>
                <li class="nav-item-hamburger">
                    <a class="nav-link-hamburger" href="{% url 'juices' %}">Juices</a>
                </li>
                <li class="nav-item-hamburger">
                    <a class="nav-link-hamburger" href="https://68813701d1934ae3957282e0347a1409.vfs.cloud9.us-east-1.amazonaws.com/admin/recipes/product/add/">Upload recipe</a>
                </li>
                <li class="nav-item-hamburger">
                    <a class="nav-link-hamburger" href="admin/recipes/product/">My recipes</a>
                </li>
                <li class="nav-item-hamburger">
                    <a href="{% url 'logout' %}">Log out</a>
                </li>
                {%  else %}
                    <li class="nav-item-hamburger">
                        <a href="{% url 'view_cart' %}" class="nav-link-hamburger">
                            Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item-hamburger">
                        <a class="nav-link-hamburger" href="{% url 'registration' %}"> Register</a>
                    </li>
                    <li class="nav-item-hamburger">
                        <a class="nav-link-hamburger" href="{% url 'login' %}"> Log In</a>
                    </li>
                {% endif %}
            </ul> 
        </div>
    </nav>
</header>

<!----------------------------------------------------HEADER ON LARE SCREENS-->
<section class='nav-tabs-wrapper'>
    <ul  id="nav-mobile" class="nav nav-tabs hide-on-med-and-down">
        {% if user.is_authenticated %}
         <li class="nav-item">
             <a class="nav-link" href="{% url 'home_main' %}">Home</a>
         </li>
         <li class="nav-item-hamburger">
             <a class="nav-link" href="{% url 'starters' %}">Starters</a>
         </li>
         <li class="nav-item-hamburger">
             <a class="nav-link" href="{% url 'main_courses' %}">Main courses</a>
         </li>
         <li class="nav-item-hamburger">
             <a class="nav-link" href="{% url 'desers' %}">Desers</a>
         </li>
         <li class="nav-item-hamburger">
             <a class="nav-link" href="{% url 'smoothies' %}">Smoothies</a>
         </li>
         <li class="nav-item-hamburger">
             <a class="nav-link" href="{% url 'juices' %}">Juices</a>
         </li>
         <li class="nav-item ">
             <a class="nav-link p_user" href="/admin/recipes/product/add/">Upload recipe</a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="admin/recipes/product/">My recipes</a>
         </li>
         <li class="nav-item">
             <a class="nav-link " href="{% url 'user_profile' %}"><i class=" fa fa-user"></i> {{user}}</a>
         </li>
         <li class="nav-item">
            <a href="{% url 'view_cart' %}" class="nav-link">
                <i class="fa fa-shipping-cart"></i>Cart
                {% if product_count > 0 %}
                <label class="badge badge-warning">{{ product_count }}</label>
                {% endif %}
            </a>
        </li>
         <li class="nav-item">
             <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Log out</a>
         </li>
         {%  else %}
            <li class="nav-item pull-right">
                <a href="{% url 'view_cart' %}" class="nav-link">
                    <i class="fa fa-shipping-cart"></i>Cart
                    {% if product_count > 0 %}
                    <label class="badge badge-warning">{{ product_count }}</label>
                    {% endif %}
                </a>
            </li>
             <li class="nav-item pull-right">
                 <a class="nav-link" href="{% url 'registration' %}"><i class="fa fa-user-plus"></i> Register</a>
            </li>
            <li class="nav-item pull-right margin-right">
                <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a>
            </li>
         {% endif %}
    </ul>
</section>
