{% extends 'base.html' %}
{% block content_site %}

<div class='container recipes py-5 sm-light '>
    <div class="row">
       {% for product in all_products %}
        <div class="card-wrapper col-md-4 col-lg-4 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class='card_header'>
                    {{ product.name }}
                </div>
                
                <object width='100%' height='270px' data='{{ MEDIA_URL }}{{ product.image }}' >
                    <img class='' width='100%' height='270px'  src="https://bilety.teatrroma.pl/images/layout/no-image.png">
                </object>
                
                <div class="card-body">
                    <h4 class="card-text">{{ product.description }}</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <form method="post" action="{% url 'add_to_cart' product.id %}" class="">
                            {% csrf_token %}
                            <div class="btn-group">
                                
                                <div class="pull-left badge_price">Price: {{ product.price }} &euro;</div>    
                                <div class="pull-left badge_views" type="submit">{{product.views}} Views</div>
                                <button href="" class="btn btn-submit btn-view" type="submit">Add to cart</button>  
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
       {% endfor %}
    </div>
</div>
{% include "footer.html" %}
{% endblock %}