{% extends 'base.html' %} {% block content_site %}


<!---------------------------------------------------RECIPE CONTENT -->


<section class='container recipe_content_wrapper '>

        
<!--------------------------------------------------RECIPES DETAILS -->
        <div class='col-md-5 col-lg-5 col-xl-5 recipe_details'>
            <div class='recipe_name col-md-12 col-sm-12 col-lg-12'>
                <h3>{{recipe.name}}</h3>
                <p> Category : {{recipe.recipe_category_name}}</p>
                <p> Cousine : {{recipe.cousine}}</p>
                <p> Preparation time : {{recipe.preparation_time}}</p>
                <p> Views : {{recipe.views}}</p>
                <p> Uploaded by : {{recipe.uploaded_by}}</p>
            </div>


            
<!------------------------------------------------------RECIPES DESCRIPTION -->
            <div class='row'>
                <div class='recipe_description col-md-12'>
                    <h3><span class="label label-default">Recipe Description</span></h3>
                    <p class='descripton_p'>{{recipe.description}} </p>
                </div>
            </div> 
        
<!--------  --------------------------------------------RECIPES INGREDIENTS -->
            <div class='row'>
                <div class='col-md-12 col-lg-12 col-xl-12 recipe_details'>
                    <h3><span class="label label-default">Ingredients</span></h3>
                    <div class="row recipe_ingredients">
                        <div class="recipe_ingredients col s12">
                            <div class=" col s12" >
                                <table class='align-center'>
                                    <tr>
                                        <th class='align-center'>Ingredients</th>
                                    </tr>
                                    <tr>
                                        <td>{{recipe.ingredient_1}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{recipe.ingredient_2}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{recipe.ingredient_3}}</td>
                                    </tr>
                                        <td>{{recipe.ingredient_4}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{recipe.ingredient_5}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{recipe.ingredient_6}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{recipe.ingredient_7}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{recipe.ingredient_8}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{recipe.ingredient_9}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{recipe.ingredient_10}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            
<!------    --  --------------------------------------------HOW TO SERVE -->
            <div class='row'>
                <div class='recipe_how_to_serve col-md-12'>
                    <h3><span class="label label-default">How to serve</span></h3>
                    <p class='descripton_p'> {{recipe.recipe_how_to_serve}}</p>
                </div>
            </div>
        </div>

<!------------------------------------------------------RECIPES PHOTO -->
        <div class='col-md-7 col-lg-7 col-xl-7 add_recipe_photo_wrapper'>
                <div class='row'>
                    <object class='col-md-12 col-lg-12 col-xl-12' data="{{ MEDIA_URL }}{{ recipe.image }}" width='100%' height='370px'>
                        <img class='recipe_photo_screens_lg' alt='recipe picture' src="https://bilety.teatrroma.pl/images/layout/no-image.png"  width='100%' height='100%' ></img>
                    </object>
                </div>  
            
            
            
            <!-------------------------------------------------------RECIPES PREPARATION -->
            <div class='row'>
                <div class='recipe_preparation col-md-12'>
                    <h3><span class="label label-default">Recipe preparation</span></h3>
                    <div class='preparation_methods'>
                        <h5><legend class="label label-default">Method 1</legend></h5>
                        <p class='descripton_p'>
                        {{recipe.preparation_method_1}}
                        </p>
                        <h5><legend class="label label-default">Method 2</legend></h5>
                        <p class='descripton_p'>
                        {{recipe.preparation_method_2}}
                        </p>
                        <h5><legend class="label label-default">Method 3</legend></h5>
                        <p class='descripton_p'>
                        {{recipe.preparation_method_3}}
                        </p>
                        <h5><legend class="label label-default">Method 4</legend></h5>
                        <p class='descripton_p'>
                        {{recipe.preparation_method_4}}
                        </p>
                        <h5><legend class="label label-default">Method 5</legend></h5>
                        <p class='descripton_p'>
                        {{recipe.preparation_method_5}}
                        </p>   
                    </div>
                </div>
            </div>
        </div>
  <div class='row'>
        <div class='col s4 col m5 col l5'></div>
        <button type="button" onclick="window.history.go(-1)" class=" btn_back_details col s2 col m2 col l2 btn-submit btn btn-sm btn_back_details ">Back</button>
        <div class='col s3 col m5 col l5'></div>
    </div>    
</section>

<!------------------------------------------------------ BACK BUTTON -->  

<section class='container footer_wrapper'>
    <div class='row'>
        {% include "footer.html" %}     
    </div>
</section>

{% endblock %}


